!!!5
html
  head
    link(rel="stylesheet",type="text/css",href="css/semantic.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    style(type="text/css").
      body { color:#000; }
  body
    .ui.steps
      .ui.step Shipping
      .ui.state.black: i.icon.legal
      .ui.step.active Billing
      .ui.state.green: i.icon.check
      .ui.step.disabled Confirm
      .ui.state.red: i.icon.remove
      .ui.step.disabled Complete
      .ui.state.blue: i.icon.info.letter
      .ui.step.disabled Use
      .ui.state.purple: i.icon.ellipsis.horizontal
      .ui.step.disabled Complain
      .ui.state.teal: i.icon.question
      .ui.step.disabled Angry
      .ui.state.orange: i.icon.exclamation
      .ui.step.disabled Sell
    br
